body{
    background-color: yellow;
}
h1,h2{
    color: blue;
    padding: 15px;
}    
h1{
    text-align: center;
}

h2{
    display: inline;
    border: blue solid 2px;
    border-radius: 5px;
    font-size: 15pt;
}

/* #pokemones{
 display: flex;
 flex-direction: row;
} */


.cartaPokemonElegido{
  display: flex;
  flex-direction: row;
}
.añadirPokemon{
  text-transform: uppercase;
  padding: 3px 5px;
  display: inline-block;
}
.añadirPokemon:hover{
  color:white;
  background-color: blue;
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
}
#pokemones{
  display: flex;
  justify-content: space-between;
}
#btn5{
  margin-bottom: 10px;
}
.nav{
  display: flex;
  justify-content: space-around;
}